.kc_row .kc_col-sm-12{
 padding-left:0px !important;
 padding-right:0px !important; 
}
.admin-bar .fixed-header .sticky-header{
	top:32px;
}
.kc_column>.kc-col-container{
	display:block;
}
.kc-row-container.kc-container{
	max-width:1230px;
	width:100%;
}
.main-slider .tp-bullets{
	display:none; 
}
.page-title{
	background-image:url(../images/background/5.jpg);
	position: relative;
    padding: 150px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.pagination li a, .pagination li span{
	position: relative;
    display: inline-block;
    height: 38px;
    width: 38px;
    font-size: 15px;
    color: #333333;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    padding: 9px 5px;
	border:0px;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.pagination li a:focus, .pagination li a:hover, .pagination li span:focus, .pagination li span:hover, .pagination li span.current{
	color: #ffffff;
    background-color: #a0d405;
	border:0px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span{
	border-radius: 50%;
	
}
.header-style-two .nav-outer .search-box-outer .dropdown.open .search-box-btn .flaticon-magnifying-glass:before{
	content:'\f1ab';
}
.comment-box .default-form{
	margin:25px 0px;
}
.default-form .group-title{
	margin-bottom: 0px;
}
.default-form h5 small a{
	position: relative;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	color: #333333;	
}
.hub_theme .hub_theme{
	margin-left:70px;	
}
/*-----------------------wishlist-----------------------*/
.ajax-loading {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	z-index:999;
}
.ajax-loading:before  {
    background: url("../images/ajax-loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 32px;
    left: 50%;
    margin: -5.5px 0 0 -8px;
    position: absolute;
    top: 50%;
    width: 32px;
}
body > .ajax-loading {
    position: fixed;
}
#pop {
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.15);
    left: 50%;
    margin-left: -250px;
    margin-top: -100px;
    position: fixed;
    top: 50%;
    width: 500px;
	z-index:999;
}
.pop {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 15px 20px;
}

/***************************** Blog Listing Style *******************************/

.widget ul{
	position: relative;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.widget ul li{
	position: relative;
	display: block;
    font-size: 14px;
    line-height: 20px;
    color: #888888;
    font-weight: 400;
    padding-bottom: 14px;
	margin-bottom: 14px;
    border-bottom: 1px dashed #e5e5e5;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.widget ul li a{
	position: relative;
	display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: #232323;
    font-weight: 400;
}
.widget ul li:hover,
.widget ul li:hover a{
	color:#a0d405;
}
.widget .tagcloud a{
	position: relative;
    display: inline-block;
    font-size: 13px !important;
    color: #888888;
    line-height: 24px !important;
    padding: 10px 40px;
	margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    overflow: hidden;
    background-color: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.widget .tagcloud a:hover{
	color: #ffffff;
    background-color: #a0d405;
}

/*=== links Widget ===*/

.footer-widget ul{
	position: relative;
}

.footer-widget ul li.page_item{
	position:relative;
	padding-left: 20px;
	display: block;
}

.footer-widget ul li.page_item:before{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 17px;
	color: #a0d405;
	font-weight: 400;
	line-height: 20px;
	content: "\f105";
	font-family: "Fontawesome";
}

.footer-widget ul li.page_item a{
	position:relative;
	display: inline-block;
	font-size: 14px;
	line-height:20px;
	color:#f9f9f9;
	font-weight: 400;
	margin-bottom: 20px;
	text-transform:capitalize;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.footer-widget ul li.page_item a:hover{
	color:#ffffff;
}
/***********Donation Form***************/
.donate-form h2.give-form-title{
	color: #2f2f2f;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 12px;
}
.donate-form h2.give-form-title:after{
	content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 30px;
    border-bottom: 2px solid #a0d405;
}
.donate-form .give-goal-progress{
	margin-bottom:55px;
}
.donate-form .give-goal-progress .income{
	font-size: 24px;
	font-family: 26px;
}
.donate-form .give-form-wrap br{
	display: none;
}
form[id*=give-form] .give-donation-amount .give-currency-symbol,
.donate-form .give-btn{
	display: block;
    line-height: 24px;
    height: 50px;
    font-size: 15px;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #222222;
    border-radius: 2px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
	text-align: center;
}
.donate-form .give-btn-level-custom{
	width:auto;
}
.donate-form .give-btn:hover,
.donate-form .give-btn.give-default-level{
	background: #a0d405;
    border-color: #a0d405;
    color: #ffffff;
}
.donate-form form[id*=give-form] .give-donation-amount #give-amount, .donate-form form[id*=give-form] .give-donation-amount #give-amount-text,
#give_checkout_user_info input,#give_cc_address input,#give_cc_address select,
form[id*=give-form] #give-final-total-wrap .give-donation-total-label,form[id*=give-form] #give-final-total-wrap .give-final-total-amount{
	display: block;
    line-height: 24px;
    height: 50px;
    font-size: 15px;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #222222;
    border-radius: 2px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.donate-form form[id*=give-form] .give-donation-amount,
#give-donation-level-button-wrap,[id*=give-form] fieldset{
	margin-bottom: 40px;
}
#give_purchase_form_wrap{
	margin:0 -15px;
	clear: both;
}
#give_checkout_user_info,
#give_cc_address{
	width: 50%;
	padding: 0 15px;
	float: left;
}
#give_checkout_user_info legend,
#give_cc_address legend{
	font-size:18px;
	color: #2f2f2f;
	padding-bottom:15px;
	margin-bottom: 40px;
}
#give_checkout_user_info .form-row-last,
#give_cc_address #give-card-country-wrap,
#give_cc_address #give-card-address-wrap,
#give_cc_address #give-card-address-2-wrap,
#give_cc_address #give-card-zip-wrap,
#give_checkout_user_info p label,
#give_cc_address p label{
	display:none;
}
#give_checkout_user_info p,
#give_cc_address p{
	width: 50%;
	float: left;
	margin: 0 0 30px;
}
#give_checkout_user_info p.form-row-first,
#give_cc_address p{
	padding-right:25px;
}
#give_checkout_user_info #give-email-wrap{
	width:100%;
	float: none;
}
#give_offline_payment_info{
	clear: both;
}
#give_cc_address #give-card-address-2-wrap+p{
	width: 100%;
}
.donate-form #give_offline_payment_info {
	padding: 25px;
	background: #a0d405;
}
.donate-form #give_offline_payment_info p{
	color: #fff;
	font-size: 15px;
}
.donate-form #give_offline_payment_info ul{
	padding:15px;
}
.donate-form #give_offline_payment_info ul li{
	display: list-item;
	color: #fff;
	list-style: disc;
}
.news-block-two.style-v2 .caption-box{
	border-right:1px solid #444;
	border-left:1px solid #444;
}
.news-block-two.style-v2:hover .caption-box{
	border-color:#a0d405;
}
.news-block-two.style-v2 .caption-box > ul > li,
.blog-detail .news-block-three .lower-content .inner-box ul li{
	position: relative;
	display: block;
	float:left;
	background:#444;
	margin: 0px 3px 20px 0;
	padding: 2px 15px;
	color:#fff;
	border-radius:2px;
	font-size:14px;
}
.blog-detail .news-block-three .lower-content .inner-box ul li{
	margin-bottom:0px;
}
.news-block-two.style-v2 .caption-box ul li a,
.blog-detail .news-block-three .lower-content .inner-box ul li a{
	color: #fff;
	font-size: 14px;
}
.news-block-three .lower-content .info-list li .like,
.news-block-three .lower-content .info-list li .comment{
	color:#fff;
}
.popular-post .post{
	padding-top:20px;
}
.widget .hu-widget-content{
	padding: 25px 40px 30px;
	border:1px solid #eaeaea;
}
.widget ul > li:last-child{
	border:none;
	padding-bottom:0px;
	margin-bottom:0px;
}
.subscribe-widget .subscribe-form{
	background: none;
	padding:0px;
}
.subscribe-widget p{
	color:#232323;
	margin-bottom: 15px;
}
.subscribe-widget .subscribe-form input{
	border:1px solid #444;
}
.subscribe-widget .subscribe-form button{
	background:#444;
	border: 1px solid #444;
}
.subscribe-widget .subscribe-form button:hover{
	border-color:#a0d405;
}
.main-slider .title{
	font-size:80px !important;
}
.contact-page-section .contact-info .column {
    position: relative;
    margin-bottom: 10px;
    background: #f5f5f5;
    padding: 20px 30px;
}
.comments-area .comment-box .border {
    border: 1px solid #eaeaea;
    padding: 20px;
}